/* hlavní logo stránky v header */
.logo  {
    margin-left: -2em;
}

/* blok divu obsahující text*/
.text{
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 10px gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: grid;
    justify-content: center;
    max-width: 540px;
    min-width: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
}


/* odsazení pro blok textu na stránkách character*/
.text-grid {
    margin-bottom: 2em;
}

/* styly pro stránku login*/
/* zarovnání loginu*/
.main-login {
    display: grid;
    justify-content: center;
}

/* obalení loginu*/
.login {
    margin-top: 8em;
    border: 2px solid black;
    border-radius: 5%;
    margin-bottom: 9em;
    max-width: 800px;
    min-width: 340px;

    
}


/* pro tlačítko login-nefunkční*/
.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 6em;
    height: 2em;
    background-color: white;
}

.button:hover {
    background-color: #FCD5CE;
}

.button:active {
    background-color: #F08080;
}

/* pro vkládání E-mailu a hesla-nefunkční*/
.input {
    width: 95%;
    height: 2em;
    border: 1px solid black;
    
}

/*odsazení obrázků po stranách*/
.login-picture {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}



/* styly pro footer svg */
.svg {
    display: flex;
    
}

.svg figure {
    margin: 1em;
}

/* otočení druhého obrázku */
.login-image-2 {
    transform: rotateY(180deg);
}

/* odsazení obrázků v loginu*/
.login-image figure {
    margin: 1em;
}

/* odsazení malé postavy na stránkách character*/
.image-character figure {
    margin: 0;
}

/* tablet*/
@media screen and (min-width: 768px){
    .header {
        justify-content: center;
    }

    .logo {
        max-width: max-content;
        
    }

 }



@media screen and (min-width: 1280px) {
    /* pozicování login*/
    .login {
        position: absolute;
        top: 25%;
        left: 35%;
        margin-top: 0;
    }

    .text {
        margin-top: 0;
        margin-bottom: 0;
    }

        /* zarovnání footer dole*/
    .main-login + .footer {
        bottom: 0px;
    }

    
}

/* odsazení footer pro velké obrazovky*/
@media screen and (min-width: 1600px) {
    .footer-gallery {
        bottom: 0px;
    }
}