/* styl pro body*/
body {
  background-color: #f8edeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* styly pro header*/
.header {
  background-color: #fcd5ce;
}

.undo {
    display: none;
}

/* styly pro navbar*/
.hamburger {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

menu {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

/* styly pro footer*/
.footer {
  margin-top: auto;
  background-color: #fcd5ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* pozicování malé postavy na stránkách character*/
.image-grid-2 {
  position: absolute;
  align-content: flex-end;
  right: 0;
  top: 35em;
}

/* pozicování velké postavy na stránkách character*/
.image-grid-1 {
  margin-top: 2em;
  width: fit-content;
}

/* základní grid pro stránky characters a gallery*/
.grid-column {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  justify-items: center;
  margin-bottom: 2em;
  gap: 1em;
}

.grid-character {
  display: grid;
  justify-content: center;
}

/* hamburger menu*/
@media screen and (max-width: 768px) {
  .checkbox {
    display: none;
  }
  .navbar:has(.checkbox:checked) .navbar {
    position: relative;
  }

  menu {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top: 1em;
    right: 4em;
    padding: 1em;
    gap: 1em;
    overflow: hidden;
    background: white;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: top;
    border: 1px solid black;
  }

  .navbar:has(.checkbox:checked) menu {
    transform: scaleY(1);
  }

  .navbar:has(.checkbox:checked) .menu-toggle {
    display: block;
  }

  .hamburger {
    --line: 8px;

    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: var(--line);
  }
  .hamburger span {
    height: var(--line);
    width: 100%;
    border-radius: calc(var(--line) / 2);
    background: #000;
    transition: transform 1s, opacity 0.2s 0.9s, translate 0.7s 0.8s;
    transform-origin: right center;
  }

  .hamburger.is-active span:nth-of-type(1) {
    transform: translateY(10%) rotate(-50deg);
  }

  .hamburger span:nth-of-type(2) {
    transition: opacity 1s;
    opacity: 1;
  }

  .hamburger.is-active span:nth-of-type(2) {
    transition: opacity 1s;
    opacity: 0;
  }

  .hamburger.is-active span:nth-of-type(3) {
    transform: translateY(0%) rotate(50deg);
  }

  menu.is-active {
    transform: scaleY(1);
  }

  .undo {
    display: block;
  }
}

/* menší než tablet*/
@media screen and (min-width: 600px) {
  /* základní grid pro stránky main page a visual novels*/
  .grid {
    display: grid;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  /* zarovnání prvků ve footer*/
  .footer {
    justify-content: space-around;
  }

  /* zarovnání malé postavy na stránkách character*/
  .image-grid-2 {
    top: 48em;
  }
}

/* tablet*/
@media screen and (min-width: 768px) {
  /* zarovnání malé postavy na stránkách character*/
  .image-grid-2 {
    top: 42em;
    right: 10%;
  }

  .navbar,
  .footer {
    justify-content: space-evenly;
  }
}

/* notebook a desktop*/
@media screen and (min-width: 1280px) {
  /* grid area pro prvky na stránkách main page a visual novels*/
  .text-1 {
    grid-area: t-1;
  }
  .text-2 {
    grid-area: t-2;
  }
  .text-3 {
    grid-area: t-3;
  }
  .text-4 {
    grid-area: t-4;
  }
  .text-5 {
    grid-area: t-5;
  }
  .text-6 {
    grid-area: t-6;
  }
  .text-7 {
    grid-area: t-7;
  }

  .image-1 {
    grid-area: i-1;
  }
  .image-2 {
    grid-area: i-2;
  }
  .image-3 {
    grid-area: i-3;
  }
  .image-4 {
    grid-area: i-4;
  }
  .image-5 {
    grid-area: i-5;
  }
  .image-6 {
    grid-area: i-6;
  }
  .image-7 {
    grid-area: i-7;
  }

  /* odsazení textu na stránkách character*/
  .text-grid-1 {
    grid-area: tg-1;
    height: 320px;
  }

  /* odsazení malé postavy na stránkách character*/
  .image-grid-2 {
    grid-area: ig-2;
    position: initial;
    display: block;
    width: fit-content;
  }

  /* odsazení velké postavy na stránkách character*/
  .image-grid-1 {
    grid-area: ig-1;
    display: grid;
    justify-content: flex-end;
  }

  /* grid pro main page*/
  .grid-index {
    grid-template-areas: "t-1 i-1" "i-2 t-2" "t-3 i-3" "i-4 t-4" "t-5 i-5";
    gap: 2em;
  }

  /* grid pro visual novels*/
  .grid-vn {
    grid-template-areas: "t-1 i-1" "i-2 t-2" "t-3 i-3" "i-4 t-4" "t-5 i-5" "i-6 t-6" "t-7 i-7";
    gap: 2em;
  }

  /* grid pro characters*/
  .grid-characters {
    grid-template-columns: 400px repeat(2, 400px);
  }

  /* grid pro stránky character (jednotlivé stránky postav*/
  .grid-character {
    grid-template-areas: "ig-1 ig-2" "ig-1 tg-1";
    gap: 1em;
    justify-items: center;
  }
}
