/* font*/
html {
  font-family: "Roboto", sans-serif;
}

/* menu pro větší obrazovky*/
menu li {
  display: block;
}

/* odkaz v navbaru*/
.link a {
  text-decoration: none;
  color: black;

}
a {
  display: inline-block;
}

a:hover {
  color: #f08080;
}

/* nadpis stránky */
.headline {
  text-align: center;
}

/* podnadpis stránky*/
.text h2 {
  margin-bottom: 0em;
}



/* styly pro zarovnání textu v login*/
.login-headline {
  text-align: center;
}

.login-text {
  padding-left: 2em;
  padding-right: 2em;
}

/* zarovnání footer textu*/
.footer-text {
  padding-left: 0.5em;
}

/* hamburger menu*/
@media screen and (max-width: 768px) {
  menu li {
    min-width: 4em;
  }
}
/* tablet*/
@media screen and (min-width: 768px) {
  /* odsazení textu*/
  .text p {
    margin-right: 2em;
  }
}
